<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>XServlets</display-name>
	<servlet>
		<description>
		</description>
		<display-name>GetFile</display-name>
		<servlet-name>GetFile</servlet-name>
		<servlet-class>xServlet.GetFile</servlet-class>
		
		<init-param>
			<param-name>ROOT</param-name>
			<param-value>E:\Programe\Apache22\htdocs\</param-value>
		</init-param>
		
		<init-param>
			<param-name>NULL</param-name>
			<param-value>testpassword</param-value>
		</init-param>	
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>SelectFromTable</display-name>
		<servlet-name>SelectFromTable</servlet-name>
		<servlet-class>xServletDB.SelectFromTable</servlet-class>
		
		<init-param>
			<param-name>dbhost</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>dbport</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>dbuser</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>dbpass</param-name>
			<param-value>admin</param-value>
		</init-param>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFile</servlet-name>
		<url-pattern>/GetFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectFromTable</servlet-name>
		<url-pattern>/SelectFromTable</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
